* {
  box-sizing: border-box;
}

.Content-center {
  margin: 30px auto;
  width: 65vw;
  max-width: 1200px;
  .Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    .Card {
      margin: 10px 0;
      width: 220px;
      height: 395px;
      .Card-top {
        display: flex;
        align-items: center;
        height: 10%;
        width: 100%;
        .Card-top-avatar {
          margin-left: 5px;
          img {
            object-fit: cover;
            height: 24px;
            width: 24px;
            border-radius: 50%;
          }
        }
        .Card-top-username {
          font-size: 0.75rem;
          line-height: 1rem;
          color: rgb(161, 159, 159);
          margin-left: 8px;
        }
      }

      .Card-picture {
        height: 70%;
        width: 100%;
        margin-bottom: 10px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .Card-infos {
        margin-left: 5px;
        .Card-price {
          font-size: 0.9rem;
          line-height: 18px;
          color: black;
        }
        .Card-details {
          //   display: flex;

          .details-size,
          .details-brand {
            font-size: 0.75rem;
            line-height: 16px;
            color: rgb(161, 159, 159);
          }
          .details-brand {
            text-transform: lowercase;
          }
        }
      }
    }
  }
}
