* {
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.Header {
  height: 96px;
  width: 100vw;
  border: red solid 1px;
  .top-bar {
    height: 60%;
    border-bottom: 1px solid #e9ebeb;
    .top-bar-center {
      background-color: bisque;
      height: 100%;
      align-items: center;
      margin: 0 auto;
      display: flex;
      width: 65vw;
      max-width: 1200px;
      img {
        height: 60%;
        flex: 1;
      }
      .search-input {
        border: solid blue 1px;
        margin-left: 30px;
        height: 60%;
        flex: 7;
        display: flex;
        justify-content: flex-end;
        input {
          width: 75%;
          height: 100%;
        }
      }
      .logs {
        border: solid black 1px;
        height: 50%;
        margin-left: 30px;
        flex: 5;
        display: flex;
        justify-content: center;

        button {
          height: 100%;
        }
      }
    }
  }
  .low-bar {
  }
}

.Content-center {
  margin: 0 auto;
  width: 65vw;
  max-width: 1200px;
  .Menu {
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
    justify-content: space-around;
    padding-top: 20px;

    .Card {
      border: solid 1px pink;
      margin: 10px 0;
      width: 208px;
      height: 395px;

      .Card-picture {
        height: 70%;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .Card-infos {
        .Card-price {
        }
        .Card-details {
          .details-size {
          }
          .details-brand {
          }
        }
      }
    }
  }
}

.Offer-center {
  margin: 0 auto;
  width: 65vw;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  .Offer-left {
    width: 40%;
    border: black solid 1px;
    .picture {
      width: 100%;
      height: 500px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .Offer-right {
    border: black solid 1px;
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 500px;

    .Offer-right-center {
      margin: 20px 30px;
      height: 100%;
      .price {
        margin: 20px 0;
      }
      .details {
        padding-bottom: 50px;
        border-bottom: rgb(161, 159, 159) solid 1px;
        > div > div {
          border: blue solid 1px;
          display: flex;
          margin: 10px 0;
          div {
            width: 50%;
          }
          .grey {
            color: rgb(161, 159, 159);
          }
        }
      }
      .Offer-right-bottom {
        border: black solid 1px;
        display: flex;
        flex-direction: column;
        div {
          //   background-color: pink;
          margin-bottom: 10px;
          font-size: 0.9em;
        }
        .name {
          font-weight: bold;
        }
        .description {
          color: rgb(161, 159, 159);
        }
      }
    }
  }
}
